@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* font import playfair display' */

body {
  font-family: 'Cormorant Garamond', serif;
}

.alerts {
  row-gap: 1rem;
  font-size: 1.25rem;
  height: 25vh;
  max-height: 450px;
  overflow: auto;
}

.alerts .alert-none {
  display: none;
}

.alerts .alert-notif {
  height: fit-content;
  padding: 12.5px 12.5px 0 12.5px;
  margin: 0 auto;
  text-align: center;
  background-color: #6cb4e7b7;
}

.condensed-forecast {
  display: flex;
  justify-content: center;
  gap: 0 2px;
  margin: 1rem auto;
  font-size: 1.5rem;
  position: relative;
}

.condensed-forecast::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 80vw;
  height: 2px;
  background-color: white;
}

.expanded-forecast {
  max-width: 800px;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

.expanded-forecast img {
  margin: 0 auto;
  width: 200px;
  aspect-ratio: 1 / 1;
}

.expanded-forecast .weather_condition {
  font-weight: bold;
  text-transform: capitalize;
}

button {
  text-decoration: none;
  border: none;
  background: transparent;
  width: 200px;
  aspect-ratio: 1 / 1.25;
  color: white;
}

button:hover {
  background: rgba(255, 255, 255, 0.31);
  color: black;
}

button:focus {
  background: rgba(255, 255, 255, 0.651);
  color: black;
}

.temperatures {
  display: block;
}

.temperatures:first-child {
  margin-top: 1.25rem;
}

.wind_direction {
  margin-left: 0.25rem;
}
